<div class='col s1'>
  <p>
    <input name='<%= "#{date.rover}-#{date.camera}-#{date.sol}" %>' id='<%= date.id %>' />
    <label for='<%= date.id %>'>Martian Sol <%= date.sol %></label>
  </p>
</div>
