
<div class="container">
  <h1>Rover Pics</h1>
  <a href="<%= new_rover_module_url %>" class="waves-effect waves-light btn">Back To Search</a>

  <div class="row picture-area">
    <% @current_pictures.each do |picture| %>
      <div class="col s4 rover-img">
        <img src="<%= picture %>" class="responsive-img materialboxed" />
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col s1 offset-s4">
      <%= button_to "Prev", get_prev_page_path(format: :js), disabled: "disabled", class: "waves-effect waves-light btn left-button grey lighten-5 grey-text text-darken-4", method: :put, remote: true, params: { id: @rover_module.id } %>
    </div>
    <div class="col s1 offset-s2">
      <%= button_to "Next", get_next_page_path(format: :js), class: "waves-effect waves-light btn right-button", method: :put, remote: true, params: { id: @rover_module.id } %>
    </div>

  </div>
</div>
