// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'https://fonts.googleapis.com/css?family=Nobile:700|Poiret+One';

$fadded-backdrop: rgba(51, 51, 51, 0.25);

.nasa-apod {
  width: 100%;
  height: 600px;

  background-repeat: no-repeat;
  background-position: center;

  .nasa-backdrop {
    width: 100%;
    height: 100%;
    background-color: $fadded-backdrop;
  }

  .nasa-image-title {
    padding: 5px;
    padding-left: 15px;
    //background-color: $fadded-backdrop;
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px #333333;
  }

  .tagline {
    text-align: center;
    margin-top: 15%;
    //background-color: $fadded-backdrop;

    h2 {
      font-family: 'Nobile', sans-serif;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 40px;
      line-height: 150%;
      text-shadow: 2px 2px #333333;
    }
  }
}

.nasa-explanation-title {
  margin-bottom: 0px !important;
  h3 {
    color: white;
  }
}

.nasa-explanation {
  margin-top: 0;
  margin-bottom: 0px !important;
  border-bottom: solid 1px #424242;

}
