// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'https://fonts.googleapis.com/css?family=Nobile:400,700|Poiret+One';

$fadded-backdrop: rgba(51, 51, 51, 0.25);

.intro-area {
  text-align: center;
  padding: 30px;
  font-family: 'Nobile', sans-serif;
  font-weight: 700;
}

.apod-full-area {
  background-color: #212121;
  padding-top: 10px;
  color: white;
  .row {
    margin-bottom: 5px;

    div {
      padding: 0px;
    }

    .apod-name {
      padding-left: 15px;
    }


  }

  .apod-img-desc {

    .apod-image-area {
      img {
        width: 100%;
        height: auto;
      }
    }

    .apod-description {
      background-color: #424242;
      padding: 15px;
      bottom: 0px;
      margin-top: 10%;
      font-size: 1.2em;
    }
  }
}

.apod-info {
  text-align: center;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.2em;
  font-family: 'Nobile', sans-serif;
  font-weight: 400;
}

.rover-title-row {
  background-color: #212121;

  h3 {
    color: white;
  }
}
